{% extends "admin/base.html.twig" %}

{% import "admin/common/macros.html.twig" as macros %}

{% block body %}
    <div class="data-table">
        <div class="collapse">
            <div class="data-table__header">
                <div class="title">
                    <h1>{{ 'admin.card-list.title'|trans }}</h1>
                </div>
                <div class="actions">
                    <button class="button button--neutral collapse__trigger animated-button animated-button--equalizer">
                        <div class="icon icon--animated icon--equalizer">
                            <div class="icon--equalizer__bar"></div>
                            <div class="icon--equalizer__bar"></div>
                            <div class="icon--equalizer__bar"></div>
                        </div>
                        Filtrer
                    </button>
                    <a href="{{ path('admin_card_list_create', {communityId : community.id }) }}" class="button button--primary">{{ 'admin.actions.create'|trans }}</a>
                </div>
            </div>
            <div class="data-table__filters collapse__menu">
                <div class="filters">
                    {{ form_start(filtersForm) }}
                        {{ form_row(filtersForm.community) }}
                        <button class="button button--primary">{{ 'admin.actions.filter'|trans }}</button>
                    {{ form_end(filtersForm) }}
                </div>
            </div>
        </div>
        <div class="data-table__content">
            {% if pagination|length %}
                <table>
                    <thead>
                        <tr>
                            <th>{{'admin.common.community_name' | trans}}</th>
                            <th>{{'admin.card-list.list_name' | trans}}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cardList in pagination %}
                            <tr>
                                <td>{{ cardList.community.name|default('') }}</td>
                                <td>{{ cardList.title }}</td>
                                <td class="action">
                                    <a href="{{ path('admin_card_list_edit', {communityId: cardList.community.id, id : cardList.id }) }}">{{ 'admin.actions.edit'|trans }}</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
    {{ include('admin/common/pagination.html.twig', {pagination: pagination}) }}
{% endblock %}
