{% extends "admin/base.html.twig" %}

{% import "admin/common/macros.html.twig" as macros %}

{% block body %}
    <div class="data-table">
        <div class="collapse">
            <div class="data-table__header">
                <div class="title">
                    <h1>Community</h1>
                </div>
                <div class="actions">
                    <button class="button button--neutral collapse__trigger animated-button animated-button--equalizer">
                        <div class="icon icon--animated icon--equalizer">
                            <div class="icon--equalizer__bar"></div>
                            <div class="icon--equalizer__bar"></div>
                            <div class="icon--equalizer__bar"></div>
                        </div>
                        Filtrer
                    </button>
                </div>
            </div>
            <div class="data-table__filters collapse__menu">
                <div class="filters">
                    {{ form_start(filtersForm) }}
                        <button class="button button--primary">{{ 'admin.community.list.actions.filter'|trans }}</button>
                    {{ form_end(filtersForm) }}
                </div>
            </div>
        </div>
        <div class="data-table__content">
            {% if pagination|length %}
                <table>
                    <thead>
                        <tr>
                            <th>{{ macros.sortLink('admin.community.list.table.name'|trans, 'community.name') }}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for community in pagination %}
                            <tr>
                                <td>{{ community.name }}</td>
                                <td class="action">
                                    <a href="{{ path('admin_community_main_goal', {id: community.id}) }}">Main Goal</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
    {{ include('admin/common/pagination.html.twig', {pagination: pagination}) }}
{% endblock %}
