{% extends "admin/base.html.twig" %}

{% block body %}
    <div class="container grid px-6 mx-auto">
        {% include 'admin/common/return_button.html.twig' with { link: path('admin_community_list') } %}

        <h1 class="title">{{'admin.community.main-goals'|trans }}</h1>
        <div class="main-rounded-block">
            {{ form(form) }}
        </div>
        {% if refineGoalForm is not null %}
            <h3 class="part-title">{{ 'admin.community.refine'|trans }}</h3>
            <div class="main-rounded-block">
                {{ form(refineGoalForm) }}
            </div>
        {% endif %}
        {% if matchingForm is not null %}
            <h3 class="part-title">{{ 'admin.community.matching'|trans }}</h3>
            <div class="main-rounded-block">
                {{ form(matchingForm) }}
            </div>
        {% endif %}
        <a href="{{ path('admin_card_list_list', { communityId: community.id }) }}" class="btn-medium-icon">
            {{ 'admin.card-list.title'|trans }}
        </a>
    </div>
{% endblock %}
