
{% block _refine_goal_refinedGoals_row %}
    {% if prototype is defined and not prototype.rendered %}
        {%- set attr = attr|merge({'data-prototype': form_row(prototype) }) -%}
    {% endif %}

    <table {{ block('widget_attributes') }}>
        <thead>
        <tr>
            <th>Tag</th>
            <th>Nomenclature</th>
            <th>Min</th>
            <th>Max</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for child in form.children %}
            {{ form_row(child) }}
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th colspan="5">
                <button type="button" class="add-btn button button--primary">Add</button>
            </th>
        </tr>
        </tfoot>
    </table>
{% endblock %}

{% block _refine_goal_refinedGoals_entry_row %}
    <tr>
        <td>
            {{ form_widget(form.tag) }}
            {{ form_errors(form.tag) }}
        </td>
        <td>
            {{ form_widget(form.nomenclature) }}
            {{ form_errors(form.nomenclature) }}
        </td>
        <td>
            {{ form_widget(form.min) }}
            {{ form_errors(form.min) }}
        </td>
        <td>
            {{ form_widget(form.max) }}
            {{ form_errors(form.max) }}
        </td>
        <td>
            <button type="button" class="remove-btn button">Delete</button>
        </td>
    </tr>
{% endblock %}

{% block _goal_matchings_matchingTags_row %}
    {% if prototype is defined and not prototype.rendered %}
        {%- set attr = attr|merge({'data-prototype': form_row(prototype) }) -%}
    {% endif %}

    <table {{ block('widget_attributes') }}>
        <thead>
        <tr>
            <th>From</th>
            <th>To</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for child in form.children %}
            {{ form_row(child) }}
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th colspan="5"><button type="button" class="add-btn">Add</button></th>
        </tr>
        </tfoot>
    </table>
{% endblock %}

{% block _goal_matchings_matchingTags_entry_row %}
    <tr>
        <td>
            {{ form_widget(form.from, {attr: {class: 'from-input'}}) }}
            {{ form_errors(form.from) }}
        </td>
        <td>
            {{ form_widget(form.to, {attr: {class: 'to-input'}}) }}
            {{ form_errors(form.to) }}
        </td>
        <td>
            <button type="button" class="remove-btn">Delete</button>
            <button type="button" class="move-up-btn">Up</button>
            <button type="button" class="move-down-btn">Down</button>
        </td>
    </tr>
{% endblock %}
