{% block _refine_goal_refinedGoals_row %}
    {% if prototype is defined and not prototype.rendered %}
        {%- set attr = attr|merge({'data-prototype': form_row(prototype) }) -%}
    {% endif %}

    <table {{ block('widget_attributes') }}>
        <thead class="w-full whitespace-no-wrap">
            <tr class="table-row-head">
                <th class="px-4 py-3">Tag</th>
                <th class="px-4 py-3">Nomenclature</th>
                <th class="px-4 py-3">Min</th>
                <th class="px-4 py-3">Max</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for child in form.children %}
                {{ form_row(child) }}
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th colspan="5">
                    <button type="button" class="add-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"/>
                        </svg>
                    </button>
                </th>
            </tr>
        </tfoot>
    </table>
{% endblock %}

{% block _refine_goal_refinedGoals_entry_row %}
    <tr>
        <td>
            {{ form_widget(form.tag) }}
            {{ form_errors(form.tag) }}
        </td>
        <td>
            {{ form_widget(form.nomenclature) }}
            {{ form_errors(form.nomenclature) }}
        </td>
        <td>
            {{ form_widget(form.min) }}
            {{ form_errors(form.min) }}
        </td>
        <td>
            {{ form_widget(form.max) }}
            {{ form_errors(form.max) }}
        </td>
        <td>
            <button type="button" class="remove-btn">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"/>
                </svg>
            </button>
        </td>
    </tr>
{% endblock %}

{% block _goal_matchings_matchingTags_row %}
    {% if prototype is defined and not prototype.rendered %}
        {%- set attr = attr|merge({'data-prototype': form_row(prototype) }) -%}
    {% endif %}

    <table {{ block('widget_attributes') }}>
        <thead class="w-full whitespace-no-wrap">
            <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                <th class="px-4 py-3">From</th>
                <th class="px-4 py-3">To</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for child in form.children %}
                {{ form_row(child) }}
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th class="px-4 py-3" colspan="5">
                    <button type="button" class="add-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"/>
                        </svg>
                    </button>
                </th>
            </tr>
        </tfoot>
    </table>
{% endblock %}

{% block _goal_matchings_matchingTags_entry_row %}
    <tr>
        <td>
            {{ form_widget(form.from, {attr: {class: 'from-input'}}) }}
            {{ form_errors(form.from) }}
        </td>
        <td>
            {{ form_widget(form.to, {attr: {class: 'to-input'}}) }}
            {{ form_errors(form.to) }}
        </td>
        <td>
            <button type="button" class="remove-btn">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"/>
                </svg>
            </button>
            <button type="button" class="move-up-btn">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 11l3-3m0 0l3 3m-3-3v8m0-13a9 9 0 110 18 9 9 0 010-18z"/>
                </svg>
            </button>
            <button type="button" class="move-down-btn">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 13l-3 3m0 0l-3-3m3 3V8m0 13a9 9 0 110-18 9 9 0 010 18z"/>
                </svg>
            </button>
        </td>
    </tr>
{% endblock %}
