{% extends "admin/base.html.twig" %}

{% block body %}
    <div class="container grid px-6 mx-auto">
        {% include 'admin/common/return_button.html.twig' with { link:  path('admin_card_list_list', {communityId: community.id}) } %}

        <h2 class="title">{{ 'admin.card_list.create_title'|trans }}</h2>
        <div class="rounded-block ">
        {{form_start(form)}}
            {{form_row(form.title, {row_class: 'mt-4'})}}
            {{form_row(form.sorting, {row_class: 'mt-4'})}}
            {{form_row(form.position, {row_class: 'my-4'})}}
            {{form_row(form.cardTypes, {label_class: 'text-base'}) }}
            {{form_row(form.tags)}}
            {{form_row(form.published)}}
            {{form_row(form.save)}}
        {{form_end(form)}}
        </div>
    </diV>
{% endblock %}
