{% extends "admin/base.html.twig" %}

{% block body %}
    <ul class="breadcrumb">
        <li class="breadcrumb__item">
            <a href="{{ path('admin_nomenclature_list') }}">Retour à la liste</a>
        </li>
    </ul>

    <h2>Créer une nomenclature</h2>
    {{ form_start(form) }}
        {{ form_row(form.community) }}
        {{ form_row(form.reference) }}

        <button type="submit" class="button button--primary">Créer</button>
    {{ form_end(form) }}
{% endblock %}
