{% extends "admin/base.html.twig" %}

{% block body %}

<div class="container grid px-6 mx-auto">
    {% include 'admin/common/return_button.html.twig' with { link: path('admin_nomenclature_list') } %}

    <h1 class="title">{{ 'admin.nomenclature.update'|trans }}</h1>
    <div class="rounded-block ">
        <div>
            <div>
                {{ form_start(form) }}
                    <div class="form">
                        <label class="form-label">{{ 'admin.community.title'|trans }}</label>
                        <input class="input-text" type="text" value="{{ nomenclature.community|default('~') }}" disabled>
                    </div>
                    {{ form_row(form.reference) }}
                    <button type="submit" class="btn-medium">Modifier</button>
                {{ form_end(form) }}
            </div>

            <div class="mt-4">
                <h3 class="form-title">{{ 'admin.nomenclature.update_values'|trans }}</h3>
                {{ form_start(importForm) }}
                    {{ form_row(importForm.file, {
                        row_class: "relative text-gray-500 focus-within:text-purple-600",
                        widget_class: "block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray appearance-none bg-white border-gray-200 border rounded py-2 px-3", 
                    }) }}
                    <button type="submit" class="btn-medium">{{ 'admin.common.import'|trans }}</button>
                    <a href="{{ path('admin_nomenclature_export', {id: nomenclature.id}) }}" class="btn-medium">{{ 'admin.common.export'|trans }}</a>
                {{ form_end(importForm) }}
            </div>
        </div>
    </div>
    <div class="rounded-block ">
        <pre>
            <ol class="text-xs leading-3">
                {% for rootNomenclatureTag in nomenclature.rootTags %}
                    <li>
                        {{- rootNomenclatureTag.tag.label('en') -}}
                        {% if rootNomenclatureTag.children|length %}
                            <ol class="ml-10">
                                {% for childNomenclatureTag in rootNomenclatureTag.children %}
                                    <li>
                                        {{- childNomenclatureTag.tag.label('en') -}}
                                        {% if childNomenclatureTag.children|length %}
                                            <ol class="ml-10">
                                                {% for leafNomenclatureTag in childNomenclatureTag.children %}
                                                    <li>
                                                        {{- leafNomenclatureTag.tag.label('en') -}}
                                                    </li>
                                                {% endfor %}
                                            </ol>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ol>
                        {% endif %}
                    </li>
                {% endfor %}
            </ol>
        </pre>
    </div>
</div>
{% endblock %}
